@import 'reset.css';

.root-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* 로고 */
.logo-link {
  display: inline-block;
  top: 20px; /* 로고가 표시될 위치 조정 */
  left: 10px; /* 로고가 표시될 위치 조정 */
  z-index: 9999; /* 다른 요소 위로 로고를 표시하기 위해 z-index를 설정합니다. */
}

.logo-img {
  width: 190px; /* 로고 이미지의 원하는 너비로 조정 */
  height: auto; /* 이미지의 비율 유지 */
  margin-left: 20px;
  min-width: 190px;
}

/* 헤더 시작 */
.header-container {
  background-color: #ffbd59;
  border-bottom: 3px solid #ccc; /* 헤더 아래 테두리 설정 */
  padding: 5px 2px; /* 헤더 위아래 여백 설정 */
}

.header-wrap {
  max-width: 1200px; /* 헤더의 최대 너비 설정 */
  margin: auto; /* 가운데 정렬 */
  display: flex; /* 요소들을 수평으로 배치 */
  align-items: center; /* 요소들을 수직으로 중앙 정렬 */
}

.header-left-wrap {
  display: flex;
}

.header-left-wrap ul {
  display: flex;
  margin-left: 36px;
}

.header-left-wrap li {
  margin-right: 25px;
  padding: 18px;
}

.header-nav-item {
  color: white;
  /* 밑줄 없애기 */
  text-decoration: none;
  /* 폰트 웨이트(굵기)*/
  font-weight: 550;
  list-style-type: none; /* 목록 마커 제거 */
  font-size: 19px;
}

/* 상세 페이지 설정구간 */
.page-container {
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  padding: 22px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
  border-radius: 9px;
  block-size: auto;
  overflow: hidden;
}

.detail-img {
  float: left;
  /* img옆에 텍스트가 표기되게 이미지를 붙이는것 */
}

/* 구분선임 */
.black-line {
  border: 2px solid black;
  display: flex;
  padding: 0px;
  overflow: hidden;
}

.book-sildecontainer {
  display: flex;
  margin: 0px 24px;
  overflow: hidden;
}

.slide-vertical-line {
  width: 1px;
  height: 70%;
  margin: 0 40px;
  border-left: 2px solid grey;
}

/* 사이드래퍼(카테고리란) */
.slide-wrapper {
  display: inline-flex;
  height: 100px;
  align-items: center;
  padding-top: 0px;
  margin-left: 55px;
  line-height: 200%;
  text-align: center;
}

.slide-item {
  width: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 20px 16px;
}

.slide-item strong {
  text-decoration: underline;
}

.bookpage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.books-container {
  /* 오늘의테일 title카드 컨테이너) */
  width: 300px;
  margin: 20px;
  background-color: #dcaa03;
  color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  line-height: 1.5;
  font-weight: bold;
  font-size: 18px;
}

/* 오늘의테일 페이지 이미지크기 */
.books-container img {
  max-width: 100%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 오늘의테일 페이지 text크기 */
.book-info {
  text-align: center;
  display: flex;
  padding: 15px 0px 0px 1px;
  justify-content: space-between;
  height: 9vh;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book-info h4 {
  margin: 5px;
}

/* 평점이랑 제목 띄우기 */

.book-info span {
  margin-left: 3px;
}

/* 검색페이지부분 */
.search_head_con {
  position: relative;
  text-align: center;
  border: 25px solid aliceblue;
  background-color: aliceblue;
}

.search_head_con input {
  width: 30%;
  min-width: 300px;
  border: 2px solid #bbb;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
}

.search_head_con .type_query_wp {
  position: relative;
  display: inline-block;
  height: 25px;
  top: 0;
  left: 6px;
}

.search-container {
  display: flex;
  max-width: auto;
  margin: 20px;
  padding: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
  border-radius: 9px;
  block-size: auto;
}

.guide_line {
  clear: both;
}
.guide_line ul {
  width: 100%;
}
.guide_line ul li {
  border-top: 1px solid #cdcdcd;
}

.guide_line ul li .li_wrap {
  overflow: hidden;
  padding: 0px;
  width: 98%;
  justify-content: center;
  margin: 10px;
}

.book-img img {
  width: 100%;
}

.dl-text {
  width: 80%;
  float: left;
  display: block;
}

.dl-text dl {
  padding: 0 0 0 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.dl-text dl dt {
  font-size: 22px;
}

.dl-text dl dd {
  font-size: 18px;
  color: #666;
  padding: 5px 0;
  display: block;
}

/* 푸터영역 */

.footer_right {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  margin: 30px;
}

/* 로그인 css */
.page {
  position: absolute;
  width: 200%;
  max-width: 500px;
  padding: 0 20px;
  border: 5px solid pink;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #f7f7f7;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.titleWrap {
  margin-top: 50px;
  font-size: 26px;
  font-weight: 700;
  color: #262626;
}

.contentWrap {
  margin-top: 26px;
  flex: 1;
}

.inputTitle {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
}

.inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}
.inputWrap:focus-within {
  border: 1px solid #9e30f4;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: #dadada;
}

.bottomButton {
  width: 100%;
  height: 48px;
  border: none;
  font-weight: bold;
  border-radius: 64px;
  background-color: #9e30f4;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
}

.bottomButton:disabled {
  background-color: #dadada;
  color: white;
}

.errorMessageWrap {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #ef0000;
  font-size: 12px;
}

.login-button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.header-right-wrap {
  display: flex;
  justify-content: flex-end;
}

.centered-button {
  display: flex;
  justify-content: center;
}
