@import 'reset.css';

.root-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

/* 헤더 시작 */
.header-container {
	background-color: rgba(3, 37, 65, 1);
}

.header-wrap {
	height: 64px;
	max-width: 1400px;
	margin: 0 auto;

	display: flex;
	align-items: center;
}

.header-left-wrap {
	display: flex;
}

.header-left-wrap ul {
	display: flex;
	margin-left: 36px;
}

.header-left-wrap li {
	margin-right: 14px;
	padding: 8px;
}

.header-nav-item {
	color: white;
	/* 밑줄 없애기 */
	text-decoration: none;
	/* 폰트 웨이트(굵기)*/
	font-weight: 600;
}

.page-container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 32px 0;
}

.movies-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.movie-container {
	/* 여기는 무비컨테이너(카드 글씨) */
	width: 250px;
	margin: 25px;
	background-color: pink;
	color: white;
	border-radius: 10px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie-container img {
	max-width: 100%;
}

/* 여기서부터 이전실습에서 붙여온 내용 */

/* 무비 인포부분은 글자 위치 정렬하는공간임 */

.movie-info {
	display: flex;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
}

.movie-info h4 {
	margin: 0px;
}

/* 평점이랑 제목 띄우기 */

.movie-info span {
	margin-left: 3px;
}

.page {
	position: absolute;
	width: 200%;
	max-width: 500px;
	padding: 0 20px;
	border: 5px solid pink;
	border-radius: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #f7f7f7;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.titleWrap {
	margin-top: 50px;
	font-size: 26px;
	font-weight: 700;
	color: #262626;
}

.contentWrap {
	margin-top: 26px;
	flex: 1;
}

.inputTitle {
	font-size: 12px;
	font-weight: 600;
	color: #262626;
}

.inputWrap {
	display: flex;
	border-radius: 8px;
	padding: 16px;
	margin-top: 8px;
	background-color: white;
	border: 1px solid #e2e0e0;
}
.inputWrap:focus-within {
	border: 1px solid #9e30f4;
}

.input {
	width: 100%;
	outline: none;
	border: none;
	height: 17px;
	font-size: 14px;
	font-weight: 400;
}

.input::placeholder {
	color: #dadada;
}

.bottomButton {
	width: 100%;
	height: 48px;
	border: none;
	font-weight: bold;
	border-radius: 64px;
	background-color: #9e30f4;
	color: white;
	margin-bottom: 16px;
	cursor: pointer;
}

.bottomButton:disabled {
	background-color: #dadada;
	color: white;
}

.errorMessageWrap {
	margin-top: 8px;
	margin-bottom: 8px;
	color: #ef0000;
	font-size: 12px;
}

.login-button {
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.header-right-wrap {
	display: flex;
	justify-content: flex-end;
}
